---
layout: default
---
<p>
  Hi, I'm <a href="http://onkursen.com">Onkur</a>.
  I enjoy learning about new things.
  However, in a world ruled by short, pithy forms of communication like
  tweets and articles, I want to retain the ability to focus and
  consume long-form content.
</p>
<p>
  Thus, I have been tracking and providing commentary on the books and
  other forms of knowledge that I consume. This codifies the concepts for me
  and provides recommendations for you.
</p>
<p>
  Thanks for stopping by!
  Say hi via <a href="mailto:onkursen@gmail.com">email</a> or
  <a href="http://twitter.com/onkursen">Twitter</a>.
</p>

{% for tag in site.categories %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<h2>{{ t | capitalize }}</h2>
<ul class="posts-by-tag">
{% for post in posts %}
  {% if post.categories contains t %}
  <li>
    <span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>:
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>,
    by {{ post.writer }}
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}
